.widget{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 4px #00000005;
    border-radius: 12px;
    height: 100px;
    width: 200px;
    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .left{
        width: 65px;
        height: 64px;
        background-color: #FFEDEC;
        border-radius: 20%;
    }
    .widget-icon{
        width: 28px;
        height: 20px;
        color: #E23428;
    }
    
    .right {
        margin-left: 20px;
        text-align: left;
        .number{
        text-align: left;
        font: normal normal 600 30px/46px "Poppins";
        letter-spacing: 0px;
        color: #393939;
        opacity: 1;
    }
    .subtitle {
        text-align: left;
        font: normal normal 300 14px/21px "Poppins";
        letter-spacing: 0px;
        color: #787878;
        opacity: 1;
    }

}
}


