table{
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 20%;
    border-radius: 20%;
    text-align: left;
    border-collapse: collapse;
    .borderTabla{
        border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        margin-bottom: 5px;
        padding: 10px;
        padding-left: 20px;
    }
}

.tableCell{
    margin-bottom: 3px;
}
th{
    display: flex;
    grid-template-columns: 100px;
}
.tableRow{
    text-align: center;
}
.tableCell {
    display: flex;
    align-items: center;
    }
.tableRow:hover{
        cursor: pointer;
        border: 1px solid #575757;
        box-shadow: 30px 30px 30px #0000001A;
        height: 80px;
        border-radius: 20px;
}

tr{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'poppins';
    background-color: #fff;
}




.cellWrapper{
    display: flex;
    align-items: center;
    
}
.image{
    width: 80px;
    height: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

// STATUS DE BOOKING - ROOMS //
.status{
    padding: 5px;
    border-radius: 5px;
    width: 109px;
    height: 48px;
    display: flex;
    align-items: center;   
    justify-content: center;
    border-radius: 20%;


    &.Booked{
    color: #5AD07A;
    background-color: #E8FFEE;
    }

    &.Refund{
    color: #EB6C64;
    background-color: #FFEDEC;
    }


    &.Pending {
    color: #6D6D6D;
    background-color: #E2E2E2;
    }

    &.Canceled {
        color: #BEBEBE;
        background-color: #575757;
    }
}

.statusRoom{
    padding: 5px;
    border-radius: 5px;
    width: 109px;
    height: 48px;
    display: flex;
    align-items: center;   
    justify-content: center;
    border-radius: 20%;


    &.Available{
    color: white;
    background-color: #5AD07A;
    }


    &.Booked {
    color: white;
    background-color: #E23428;
    }
}

.request{
    padding: 5px;
    border-radius: 5px;
    width: 109px;
    height: 48px;
    display: flex;
    align-items: center;   
    justify-content: center;
    border-radius: 20%;


    &.Notes{
    color: #212121;
    background-color: #EEF9F2;
    }


    &.Pending {
    color: #6D6D6D;
    background-color: #E2E2E2;
    }

    &.Canceled {
        color: #BEBEBE;
        background-color: #575757;
    }
}

//PAGINATION

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8%;
    margin-top: 5%;
    padding-bottom: 50px;
    .page-button{
        height: 30px;
        margin-right: 10px;
        margin-left: 10px;
        width: 30px;
        border: none;
        color: black;
        background-color: #E2E2E2;
    }
    
    .page-button:hover{
        cursor: pointer;
        background-color: #135846;
        border-radius: 5px;
        color: #FFFFFF;
    }
    
    .btn{
        width: 60px;
        border: 1px solid #135846;
        border-color: #135846;
        border-radius: 10px;
        font-size: small;
        color: #135846;
        background-color: #fff;
        font-family: "Poppins";
    }
    .btn:hover{
        color: #FFFFFF;
        cursor: pointer;
        background-color: #135846;
    }
}


// --------------------TABLE DETAILS-------------//

.roomDetails{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .left{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 12px;
        flex: 1;
        width: 90%;
        font-family: "Poppins";
        padding: 20px;
        h2{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        p{
            color: var(--unnamed-color-6e6e6e);
            text-align: left;
            font: normal normal normal 14px/21px Poppins;
            letter-spacing: 0px;
            color: #6E6E6E;
            opacity: 1;
        }
        span{
            text-align: left;
            font-size: 24px;
            font-weight: normal;
            
            letter-spacing: 0px;
            color: #212121;
            opacity: 1;
        }
        .amenities{
            border-radius: 8px;
            padding: 10px;
            background-color: #E8F2EF;
            width: fit-content;
        }

        .roomOffer{
            display: flex;
            flex-direction: row;
            .price{
                display: flex;
                flex-direction: column;
            }
            .offer{
                display: flex;
                flex-direction: column;
            }
        }

    }
    .right{
        border: 1px solid black;
        display: flex;
        flex: 1;
        width: 90%;
        
        .img-roomDetail{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    button{
        border-radius: 12px;
        background-color: #135846;
        color: white;
        border-color: none;
        cursor: pointer;
    }
}

// --------------TABLA ROOMS----------------//

.tableCellPhoto{
    width: 40px;
}
.tableCellroomNumber{
    width: 150px;
    align-items: center;
}


//------------TABLA CONTACT-------------//

.table{
    .tableCell{
        display: flex;
        flex: 1;
        margin-bottom: 5px;
    padding: 10px;
    padding-left: 10px;
    }
    .tableCellComment{
        display: flex;
        flex: 2;
        
    }
    .tableRow{
        text-align: left;
    }

}

