table {
  width: 90%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 20%;
  border-radius: 20%;
  text-align: left;
  border-collapse: collapse;
}
table .borderTabla {
  border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 20px;
}

.tableCell {
  margin-bottom: 3px;
}

th {
  display: flex;
  grid-template-columns: 100px;
}

.tableRow {
  text-align: center;
}

.tableCell {
  display: flex;
  align-items: center;
}

.tableRow:hover {
  cursor: pointer;
  border: 1px solid #575757;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1019607843);
  height: 100px;
  border-radius: 20px;
}

tr {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "poppins";
  background-color: #fff;
}

.cellWrapper {
  display: flex;
  align-items: center;
}

.image {
  width: 80px;
  height: 50px;
  border-radius: 20%;
  margin-right: 10px;
}

.status {
  padding: 5px;
  border-radius: 5px;
  width: 109px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}
.status.Booked {
  color: #5AD07A;
  background-color: #E8FFEE;
}
.status.Pending {
  color: #6D6D6D;
  background-color: #E2E2E2;
}
.status.Canceled {
  color: #BEBEBE;
  background-color: #575757;
}

.statusRoom {
  padding: 5px;
  border-radius: 5px;
  width: 109px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}
.statusRoom.Available {
  color: white;
  background-color: #5AD07A;
}
.statusRoom.Booked {
  color: white;
  background-color: #E23428;
}

.request {
  padding: 5px;
  border-radius: 5px;
  width: 109px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}
.request.Notes {
  color: #212121;
  background-color: #EEF9F2;
}
.request.Pending {
  color: #6D6D6D;
  background-color: #E2E2E2;
}
.request.Canceled {
  color: #BEBEBE;
  background-color: #575757;
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  padding-bottom: 50px;
}
.pagination .page-button {
  width: 30px;
  border: none;
  background-color: #FFFFFF;
}
.pagination .page-button:hover {
  cursor: pointer;
  background-color: #135846;
  border-radius: 5px;
  color: #FFFFFF;
}
.pagination .btn {
  width: 60px;
  border-color: #135846;
  border-radius: 10px;
  font-size: small;
  color: #135846;
  background-color: #fff;
  font-family: "Poppins";
}
.pagination .btn:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #135846;
}

.roomDetails {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.roomDetails .left {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  flex: 1;
  width: 90%;
  font-family: "Poppins";
  padding: 20px;
}
.roomDetails .left h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roomDetails .left p {
  color: var(--unnamed-color-6e6e6e);
  text-align: left;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #6E6E6E;
  opacity: 1;
}
.roomDetails .left span {
  text-align: left;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #212121;
  opacity: 1;
}
.roomDetails .left .amenities {
  border-radius: 8px;
  padding: 10px;
  background-color: #E8F2EF;
  width: -moz-fit-content;
  width: fit-content;
}
.roomDetails .left .roomOffer {
  display: flex;
  flex-direction: row;
}
.roomDetails .left .roomOffer .price {
  display: flex;
  flex-direction: column;
}
.roomDetails .left .roomOffer .offer {
  display: flex;
  flex-direction: column;
}
.roomDetails .right {
  border: 1px solid black;
  display: flex;
  flex: 1;
  width: 90%;
}
.roomDetails .right .img-roomDetail {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.roomDetails button {
  border-radius: 12px;
  background-color: #135846;
  color: white;
  border-color: none;
  cursor: pointer;
}

.tableCellPhoto {
  width: 40px;
}

.tableCellroomNumber {
  width: 150px;
  align-items: center;
}

.table .tableCell {
  display: flex;
  flex: 1;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 10px;
}
.table .tableCellComment {
  display: flex;
  flex: 2;
}
.table .tableRow {
  text-align: left;
}/*# sourceMappingURL=table.css.map */