.widgets {
    width: 80%;
}

.widget {
    width: 200px;
    height: 100px;
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #00000005;
    border-radius: 12px;
    transition: width 0.3s, height 0.3s;

    .left, .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .left {
        width: 65px;
        height: 64px;
        background-color: #FFEDEC;
        border-radius: 20%;
    }
    
    .widget-icon {
        width: 28px;
        height: 20px;
        color: #E23428;
    }
    
    .right {
        margin-left: 20px;
        text-align: left;
        
        .number {
            font: normal 600 30px/46px "Poppins";
            color: #393939;
        }
        
        .subtitle {
            font: normal 300 14px/21px "Poppins";
            color: #787878;
        }
    }
}

.widget:hover {
    width: 205px;
    height: 105px;
    
    .widget-icon {
        width: 30px;
        height: 22px;
    }
}